<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
  
    <title>Document</title>
</head>

<body>
    {{>header}}
    <img src="/img/Screen Shot 2019-08-06 at 9.04.34 PM.jpg">
 {{>footer}}
</body>

</html>